.button {
  background: var(--c-fourth);
  color: #ffffff;
  padding: 10px 33px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    font-size: 8px;
    padding: 5px 11px;
  }
}

.text {
  font-size: 14px;
}

.btn:focus {
  outline: none;
}

.button:disabled {
  background: #9f8b8b;
}

.button::before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
  transform-origin: 0 100% 0;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s,
    background-color 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}
.button:hover::before {
  background: var(--c-third);
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
