.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title::before {
  background: #555555 none repeat scroll 0 0;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.form {
  margin: 0 auto;
}

.input {
  background: transparent;
  border: 1px solid #c1c1c1;
  color: #3c3c3c;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  width: 100%;
}

.error {
  color: red;
}

.success {
  color: green;
}
