.navigationMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-out 0s;
}

.MenuMobile {
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  background: var(--c-primary);
  margin-top: 50px;
  transition: all 0.3s ease-out 0s;
  overflow: hidden;
}

.link {
  padding-inline: 25px;
  font-weight: 600;
  line-height: 16px;
  color: var(--c-secondary);

  &:hover {
    color: var(--c-third);
  }

  @media screen and (max-width: 950px) {
    padding-inline: 10px;
  }
}

.list {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 1071px) {
    gap: 20px;
  }

  @media screen and (max-width: 950px) {
    gap: 5px;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .list {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .link {
    padding: 1em 5%;
    display: block;
    width: 100%;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    &:hover {
      color: var(--c-secondary);
    }
  }

  .logo {
    display: none;
  }
}
