.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  overflow: hidden;
}
.bg_basik {
  background: rgba(0, 0, 0, 0) url('/bg_banner.jpg') no-repeat scroll 0 0 /
    cover;
}
.bg_default {
  background: rgba(0, 0, 0, 0) url('/bg_default.jpg') no-repeat scroll 0 0 /
    cover;

  @media (max-width: 767px) {
    /* top: 75px;
    height: 20vh; */
  }
}

.animation_images {
  @media (max-width: 768px) {
    display: none;
  }
}
.paper {
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  z-index: 11;

  @media (max-width: 767px) {
    display: none;
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: var(--c-fourth);
  text-transform: uppercase;
  z-index: 11;

  @media (max-width: 767px) {
    gap: 15px;
    top: 30%;
  }
}

.title {
  font-size: clamp(25px, 5vw, 75px);
  font-weight: 700;
  letter-spacing: 15px;
}
.title_basik {
  color: var(--c-fourth);
}
.title_default {
  color: var(--c-secondary);
  font-size: 30px;
  letter-spacing: normal;
  font-weight: 500;
}

@media (max-width: 767px) {
  .title {
    color: var(--c-secondary);
  }
}

.scretch {
  width: 100%;
  max-width: 70px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 35%;

  @media (max-width: 1024px) {
    max-width: 50px;
  }
}

.pencile {
  width: 100%;
  max-width: 40px;
  position: absolute;
  top: 54%;
  right: 40.5%;
  z-index: 12;
  transform: rotate(5deg);

  @media (max-width: 1024px) {
    max-width: 30px;
    top: 58%;
    right: 38%;
  }
}

.pen {
  width: 100%;
  max-width: 50px;
  position: absolute;
  z-index: 10;
  top: 45%;
  right: 25%;
  z-index: 13;
  transform: rotate(5deg);

  @media (max-width: 1024px) {
    max-width: 35px;
    top: 50%;
    right: 25%;
  }
}

.marker {
  width: 100%;
  max-width: 85px;
  position: absolute;
  z-index: 13;
  top: 44%;
  left: 30%;

  @media (max-width: 1024px) {
    max-width: 65px;
  }
}

.knife {
  width: 100%;
  max-width: 70px;
  position: absolute;
  z-index: 13;
  top: 34%;
  left: 25%;

  @media (max-width: 1024px) {
    max-width: 60px;
  }
}

.plant {
  width: 100%;
  max-width: 250px;
  position: absolute;
  z-index: 10;
  top: 60%;
  right: 20%;
  z-index: 12;

  @media (max-width: 1024px) {
    max-width: 150px;
  }
}

.pencup {
  width: 100%;
  max-width: 275px;
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 10%;
  z-index: 12;

  @media (max-width: 1024px) {
    max-width: 250px;
    top: 15%;
  }
}

.flower1 {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
}

.flower2 {
  width: 100%;
  max-width: 200px;
  position: absolute;
  bottom: 267px;
  left: 0;
  z-index: 12;
}
